{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/pwdchange" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autofocus required id="current_password" name="current_password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required id="password" name="password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
